<div class="layui-form hisi-search">
    <form action="{:url('example/money/cha')}" method="get" id="">
        <div class="layui-form-item">
            <label class="layui-form-label">输入代理ID</label>
            <div class="layui-input-inline">
                <input type="text" name="appid" class="layui-input" value="{$appid}" lay-verify="required" placeholder="代理ID" />
            </div>
        </div>
        <div class="layui-form-item hisi-search-btn">
            <div class="layui-input-inline">
                <button type="submit" id="btn1" class="layui-btn layui-btn-normal layui-icon ">查询</button>

            </div>
            <p id="p1"></p>
        </div>
    </form>
</div>
<table id="dataTable">


    <tr>
        <td style="padding-right: 50px;padding-left: 10px"><h2>代理名称</h2></td>
    </tr>
    <tr>
        <td style="padding-top: 20px;padding-left: 10px;"><h2 id="name"></h2></td>
    </tr>
    <tr>
        <td style="padding-right: 50px;padding-top: 20px;padding-left: 10px"><h3>联系方式</h3></td>
    </tr>
    <tr>
        <td style="padding-top: 20px;padding-left: 10px;"><h2 id="email"></h2></td>
    </tr>
    <tr>
        <td style="padding-right: 50px;padding-top: 20px;padding-left: 10px"><h3>提款记录</h3></td>
    </tr>
</table>
{include file="system@block/layui" /}


<script type="text/javascript">



    layui.use(['table'], function() {
        var table = layui.table;
        table.render({
            elem: '#dataTable'
            ,url: '{:url('/example/money/cha', input('get.'))}' //数据接口
            ,page: true //开启分页
            ,skin: 'row'
            ,even: true
            ,limit: 20
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
                {field: 'ctime', title: '提交时间',width:180, templet: '<div>{{ d.ctime }}</div>'}
                ,{field: 'appid', title: '提交ID', templet: '<div>{{ d.appid }}</div>'}
                ,{field: 'orderid', title: '单号', templet: '<div>{{ d.orderid }}</div>'}
                ,{field: 'money', title: '申请金额', templet: '<div>{{ d.money }}</div>'}
                ,{field: 'status', title: '状态', templet:function (d) {if (d.status == '0') {return "待审批";} else if (d.status == '1') {return "已审批";} else if (d.status == '2') {return "已驳回";} else {return "已打款";}}}
                ,{field: 'remark', title: '备注说明', templet:function (d) {if (d.remark == null) {return "无";}else {return  d.remark ;}}}
            ]]
        });
    });

    $("#name").text("{$data[0]['appid']}");
    $("#email").text("{$data[0]['email']}");


</script>