<style>
    .appid,
    .selectGroup .layui-form-select {
        display: none;
    }

    .isActive .appid {
        display: block;
    }

    .isActive .layui-form-select {
        display: block;
    }

    .putMsg {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    /*.putMsg > div {
        width: 30%;
    }*/

    .submitBtn > div {
        margin-left: 0;
    }
</style>

<form class="layui-form putMsg" action="">
    <div class="layui-form-item" style="width: 200px">
        <input type="text" id="startDate" name="startDate" class="layui-input" placeholder="请输入开始时间"
               autocomplete="off"/>
    </div>
    <div class="layui-form-item" style="width: 200px">
        <input type="text" id="endDate" name="endDate" class="layui-input" placeholder="请输入结束时间" autocomplete="off"/>
    </div>
    <br>
    <div class="layui-form-item submitBtn">
        <div class="layui-input-block">
            <button class="layui-btn" id="sub" lay-submit lay-filter="sss">立即提交</button>
        </div>
    </div>
</form>
<table id="dataTable"></table>
{include file="system@block/layui" /}
<script src="/static/js/layui_exts/excel.min.js"></script>
<script>
    layui.use('form', function () {
        var form = layui.form,
            layer = layui.layer;
        form.on('submit(sss)', function (data) {
            $.ajax({
                url: "/example/proxy_t/index",
                traditional: true,
                type: "POST",
                dataType: "text",
                data: {data: data, appid: appid, name: name},
                success: function (data) {
                    if (data && data.code && data.code == 1) {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    }
                }
            });
            return false;
        });
    });
</script>

<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('edit')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop" title="查看"
       width="460" height="270">查看</a><a href="{:url('edit')}?id={{ d.id }}"
                                         class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop" title="修改"
                                         width="460" height="270">修改</a><a href="{:url('del')}?id={{ d.id }}"
                                                                           class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
</script>

<script type="text/javascript">
    function createTime(v) {
        var date = new Date(v);
        var y = date.getFullYear();
        var m = date.getMonth() + 1;
        m = m < 10 ? '0' + m : m;
        var d = date.getDate();
        d = d < 10 ? ("0" + d) : d;
        var h = date.getHours();
        h = h < 10 ? ("0" + h) : h;
        var M = date.getMinutes();
        M = M < 10 ? ("0" + M) : M;
        var str = y + "-" + m + "-" + d + " " + h + ":" + M;
        return str;
    }
</script>
<script type="text/javascript">
    layui.use(['layer', 'form', 'table', 'laydate', 'jquery'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate,
            table = layui.table;
        // 加载框
        var loading;
        loading = layer.load(1, {shade: [0.3, '#fff']});
        var tableIns = table.render({
            elem: '#dataTable',
            cols: [[ //表头
                {type: 'checkbox'}
                , {field: 'datetime', title: '日期', templet: function (d) {return d.datetime;}}
                , {field: 'total_recharge', title: '当日充值', templet: '<div></div>'}
                , {field: 'first_recharge', title: '当日首充', templet: '<div></div>'}
                , {field: 'continue_recharge', title: '当日续费', templet:'<div></div>'}
                , {field: 'first_count', title: '当日首充笔数', templet: '<div></div>'}
                , {field: 'continue_count', title: '当日续费笔数', templet: '<div></div>'}
                , {field: 'apply_amount', title: '当日累计提款申请金额', templet: '<div></div>'}
                , {field: 'payment_amount', title: '当日累计出款', templet: '<div></div>'}
                , {field: 'installnum', title: '当日下载量', templet: function(d){
                    if(d.installnum == "" || d.installnum == null) {
                        return "0";
                    }else{
                        return d.installnum;
                    }
                    }}
            ]],
            url: '{:url(\'\', input(\'get.\'))}',
            page: true,
            even: true,
            height: 'full-90',
            request: {
                pageName: 'page', //页码的参数名称，默认：page
                limitName: 'limit' //每页数据量的参数名，默认：limit
            },
            limit: 20,
            done: function (res, curr, count) {
                layer.close(loading);
            }
        });
        var laydate = layui.laydate;
        laydate.render({
            elem: '#startDate',
            type: 'datetime',
            value: '{$startDate}',
            format: 'yyyy-MM-dd'
        });
        laydate.render({
            elem: '#endDate',
            type: 'datetime',
            value: '{$endDate}',
            format: 'yyyy-MM-dd'
        });
    });
</script>