{include file="system@block/layui" /}
<div class="page-toolbar">
    <div class="page-filter fr">
        <form class="layui-form layui-form-pane" action="{:url()}" method="get" id="hisi-table-search">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" name="keyword" lay-verify="required" placeholder="输入关键词搜索" class="layui-input">
            </div>
            <label class="layui-form-label">搜索</label>

        </div>
        </form>
    </div>
    <div class="layui-btn-group fl">
        <a href="{:url('add')}" class="layui-btn layui-btn-primary layui-icon layui-icon-add-circle-fine">&nbsp;添加</a>
        <a data-href="{:url('status?val=1')}" class="layui-btn layui-btn-primary j-page-btns layui-icon layui-icon-play" data-table="dataTable">&nbsp;启用</a>
        <a data-href="{:url('status?val=0')}" class="layui-btn layui-btn-primary j-page-btns layui-icon layui-icon-pause" data-table="dataTable">&nbsp;禁用</a>
        <a data-href="{:url('del')}" class="layui-btn layui-btn-primary j-page-btns confirm layui-icon layui-icon-close red">&nbsp;删除</a>
    </div>
</div>
<table id="dataTable"></table>

<script type="text/html" id="statusTpl">
    <input type="checkbox" name="status" value="{{ d.status }}" lay-skin="switch" lay-filter="switchStatus" lay-text="正常|待开通" {{ d.status == 1 ? 'checked' : '' }} data-href="{:url('status')}?id={{ d.id }}">
</script>
<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="__ROOT_DIR__example/show?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-primary">查看</a><a href="{:url('edit')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">重置密码</a><a href="{:url('del')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">暂停</a>
</script>
<script type="text/javascript">
    layui.use(['table'], function() {
        var table = layui.table;
        table.render({
            elem: '#dataTable'
            ,url: '{:url('', input('get.'))}' //数据接口
            ,page: true //开启分页
            ,skin: 'row'
            ,even: true
            ,limit: 20
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
                {type:'checkbox'}
                ,{field: 'appid', title: 'ID', templet: '<div>{{ d.appid }}</div>'}
                ,{field: 'author', title: '账号', templet: '<div>{{ d.author }}</div>'}
                ,{field: 'status', title: '状态', width: 100, templet: '#statusTpl'}
                ,{field: 'cid', title: '分类', templet: '<div><a href="{:url()}?cid={{ d.cid }}" class="hisi-table-a-filter">{{ d.has_category.name }}</a></div>'}
                ,{field: 'mtime', title: '最近登录时间'}
                ,{title: '操作', width: 160, templet: '#buttonTpl'}
            ]]
        });
    });
</script>