<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Title</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/static/example/css/iconfont.css">
    <link rel="stylesheet" href="/static/example/css/reset.css?v=3">
    <link rel="stylesheet" href="/static/example/css/style1.css?v=3">
</head>
<body>

<header>
    <div class="nav flex">
        <div><i class="iconfont icon-caidan1"></i></div>
        <div>登录</div>
        <div><i class="iconfont icon-fork"></i></div>
    </div>
</header>




<script src="/static/example/js/jquery-3.3.1.min.js"></script>
<script src="/static/example/js/common.js"></script>
</body>
</html>