
<div class="page-toolbar">
    <div class="layui-btn-group fl">
        <a href="{:url('example/index/index')}" class="layui-btn layui-btn-primary layui-icon" title="返回" width="460" height="270">返回</a>
    </div>
</div>
<table id="dataTable"></table>
{include file="system@block/layui" /}
<script type="text/html" id="statusTpl">
    <input type="checkbox" name="status" value="{{ d.status }}" lay-skin="switch" lay-filter="switchStatus" lay-text="正常|已暂停" {{ d.status == 1 ? 'checked' : '' }} data-href="{:url('status')}?id={{ d.id }}">
</script>
<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('backstatus')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-primary">恢复</a>
    <a href="{:url('del')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
</script>

<script type="text/javascript">
    layui.use(['table'], function() {
        var table = layui.table;
        table.render({
            elem: '#dataTable'
            ,url: '{:url('', input('get.'))}' //数据接口
            ,page: true //开启分页
            ,skin: 'row'
            ,even: true
            ,limit: 20
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
                {field: 'appid', title: 'ID', templet: '<div>{{ d.appid }}</div>'}
                ,{field: 'email', title: '账号', templet: '<div>{{ d.email }}</div>'}
                // ,{field: 'status', title: '当前状态', width: 100, templet: '#statusTpl'}
                ,{field: 'cid', title: '所属分组', templet: '<div>{{ d.cid }}</div>'}
                ,{field: 'mtime', title: '最近登录时间'}
                ,{title: '操作', width: 240, templet: '#buttonTpl'}
            ]]
        });
    });
</script>